.navBarText{

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  
}
.navbar-light .navbar-nav .nav-link.active {
  color: #0F2B4A!important;
}

.maintext{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 86px;
/* or 123% */


color: #0F2B4A;
}

.maintextp {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #576B81;
}
.sectionimage
{
 
height: 100vh;
background-repeat: no-repeat;
background-image: url('./assets/section.png');
}
.section2image{

 
text-align: center;
}
.cardpriceportion{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #2289FF;
}
.cardsubpara{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #0F2B4A;
}
.cardfooter{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;

color: #576B81;
}

.sectioncard2{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #0F2B4A;
}
.sectioncard2para{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
 
/* identical to box height */


color: #576B81;
}
.findSectionHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */

text-align: center;

color: #0F2B4A;
}
.findSectionCardHeading{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 31px;
text-align: center;

color: #0F2B4A;
}
.findSectionPara{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 26px;
/* or 162% */

text-align: center;

color: #576B81;
}
.footerHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #0F2B4A;
}

.footerpara{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */
text-decoration: none;

color: #576B81;
}
.footerCopypara{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #A2AFBD;
}
.talkarea{
  background: #0F2A47;
  height: 360px;
}
.talkareaHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */

 

color: #FFFFFF;
}
.talkareaheading2{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #FFFFFF;

}
.talkareaSubhead{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
 


color: #B6BEC8;
}
.tendingHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 62px;
/* or 129% */


color: #0F2B4A;

}
.trendingPara{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #576B81;
}
.trendingDropdown{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #576B81;
}
.tendingCardPrice{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

letter-spacing: 0.02em;

color: #2289FF;
}
.trendingCardheading{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #0F2B4A;
}
.trendingSubPara{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #576B81;
}
.trendingIconPara{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #576B81;
}
.trendingBtn{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.carousel-indicators li  {
  border-radius: 12px;
  width: 12px;
  height: 12px;
   background-color: black !important;  
   
}

/* .carousel-indicators > .active {

  background-color: #404040 !important;
} */


 .testinomialbody{
  background: #F9FBFE;
 
 }

 .circular-img {
  display: inline-block;
  padding: 14px;
  border-radius: 50%;
  height: 250pxpx;
  width: 250px;
  border: 1px solid rgba(7, 133, 250,0.1);
   
  
}

.circular-img img {
  display: inline-block;
  margin-top: 8px;
  margin-left: 2px;
}

 .testiheading{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  
  text-align: center;
  margin-top: 100px;
  color: #0F2B4A;
 
 }
 .testipara{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  text-align: center;
  
  color: #576B81;
 }
 .testicard{
  background: #FFFFFF;
  box-shadow: 0px 65px 110px rgba(127, 154, 190, 0.06);
  border-radius: 6px;
  width: 571px;
 
 }
 .testipara2{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  
  text-align: center;
  
  color: #576B81;
 }
 .testpara3{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  
  color: #0F2B4A;
 }
@font-face {
  font-family: Roboto;
  src: url('./Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./Fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
font-family: Inter;
  src: url('./Fonts/Inter/Inter-SemiBold.otf');
}
@media only screen and (max-width: 768px)
{
  .maintext {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #0F2B4A;
}
.maintextp {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #576B81;
}
.position-absoute {
  position: relative;
}
.top-50{top:0% !important} 
.start-0{left:0 !important} 
.translate-middle {
  transform: translate(0%,0%)!important;
}
 .hiddenClass {
   display:none !important;   
 }
 .sectionimage
{
 
height: 50vh;
background-repeat: no-repeat;
background-image: url('./assets/section.png');
}

.findSectionHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #0F2B4A;
}
.findSectionCardHeading{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
text-align: center;

color: #0F2B4A;
}
.findSectionPara{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 26px;
/* or 162% */

text-align: center;

color: #576B81;
}
.talkarea{
  background: #0F2A47;
  height:100%;
}

.talkareaHeading{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 58px;
/* identical to box height */

 

color: #FFFFFF;
}
.talkareaheading2{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #FFFFFF;

}
.talkareaSubhead{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
 


color: #B6BEC8;
}

.testiheading{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 58px;
  /* identical to box height */
  
  text-align: center;
 
  color: #0F2B4A;
 
 }
 .testicard{
  background: #FFFFFF;
  box-shadow: 0px 65px 110px rgba(127, 154, 190, 0.06);
  border-radius: 6px;
  width: 100%;
 
 }
}