 .navbarbg{
     background-color: #0078D7;
 }
 .profilebtn{
    border: 1px solid white;
    background-color: #0078D7;
    color: white;
    border-radius: 50px;
    font-size: 20px;
 }

.search {
    position: relative;
    
}

.search input {
  
    text-indent: 35px;
    width: 500px;
     background-color : #c7def6;
}

.search input:focus {
    box-shadow: none;
    background-color : #c7def6;
}

.search .fa-search {
    position: absolute;
    top: 10px;
    left: 16px;
    transform: rotate(87deg);
    font-size: 20px;
    color: #0078D7;
}

.fs-5 {
  font-size: 2rem!important;
 
}
hr{
    margin: 40px 0px 0px 0px !important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus
 
{
   
  box-shadow: inset 0 0px 0 0 #ddd;
 
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
 /* round the checkbox */
 .round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 2px solid rgb(65, 109, 225);
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 22px;
}
  
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: rgb(65, 109, 225);
    border-color:rgb(65, 109, 225);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .onHoverClass:hover
  {
    background-color: #f4f6ff
  }
@media only screen and (max-width:768px) 
{
    .navbarbg{
        background-color: #0078D7;
    }
    
   
   .search {
       position: relative;
       
   }
   
   .search input {
     
       text-indent: 35px;
       width: 100%;
       background-color : #c7def6;
       margin-bottom: 16px;
   }
   
   .search input:focus {
       box-shadow: none;
       background-color : #c7def6;
   }
   
   .search .fa-search {
       position: absolute;
       top: 10px;
       left: 16px;
       transform: rotate(87deg);
       font-size: 20px;
       color: #0078D7;
   }
   
   .fs-5 {
     font-size: 2rem!important;
    
   }  
}